*.py[cod]

# C extensions
*.so

# Idea
.idea
.idea/*
*.iml
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# upload files
application/static/uploads

# SQLite databases
*.sqlite

# Virtual environment
venv

# Environment files
env
.env-mysql

uwsgi.ini
